body {
  font-family:  Arial, Helvetica, sans-serif;
  color: #333;
  background-color: #ebeadf;
  
}

h1 {
  color: #333;
  font-size: 30px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 10px;
  display: inline;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-weight: 100;
  line-height: 16px;
  
}

li::first-letter {
    text-transform: capitalize;
}

.weather-temp img {
    margin-right: 10px;
}

.weather-temp strong {
    font-size: 64px;
    font-weight: 100;
}

.weather-temp small {
    position: relative;
    top: -34px;
}

.weather-app {
    border: solid 1px #333;
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    border-radius: 10px;
}

.highlight-text {
    background-color: #333;
    color: #ebeadf;
}

a:link {
    color: #f46565;
    text-decoration: none;
}

a:visited {
 color: #f46565;
    text-decoration: none;   
}

a:hover {
color: #333;
text-decoration: none;
    }

footer {
        text-align: center;
    }
    

